{{ define "content" }}
<label for="{{ .InputName }}"><b>{{ .Name }}</b></label>
<input name="{{ .InputName }}" type="text" value="{{ .Value }}">
<br>
<label for="{{ .InputName }}">{{ .Description }}</label>
<br><br>
{{ end }}
