{{ define "content" }}

<b class="ok-text" {{ .Data.SavedNotice }}>{{ .T.Saved }}</b>

<p>{{ .T.ThisConfigCorrespondsTo }} {{ .Data.ConfigPath }} {{.T.File}}.</p>
<br>
<form method="POST" action="setconfig">
{{ .Data.Content }}
<input type="submit" value="Speichern">
</form>

{{ end }}
