{{define "template"}}<!DOCTYPE html>
<html>
    <head>
        <title>newkuson</title>
        <link rel="stylesheet" href="static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <h2>newkuson</h2>
            </div>
            <div class="header">
                <div class="title">
                    <h1>{{.Title}}</h1>
                </div>
                <div class="transl">
                    <a href="/language">
                        <img src="static/language.jpg" height="50px">
                    </a>
                </div>
            </div>
            <div class="sidebar">
                <b class="sidebar-title">{{ .TT.LinksOnThisPage }}</b>
                {{range .SidebarLinks}}
                <div class="sidebar-element">
                    <a href="{{.Href}}">{{.Title}}</a>
                </div>
                {{end}}
            </div>
            <div class="main">
                {{template "content" .}}
            </div>
            <div class="footer">
                <br>
                <br>
                {{ .TT.GeneratedUsingNewkuson }}
                {{ .TT.Version }}
                {{ .Version }}.
                <a href="/about">{{ .TT.About }}</a>
            </div>
        </div>
    </body>
</html>
{{end}}
