{{define "content"}}
<p>{{ .T.WelcomeText }}</p>
<p>{{ .T.CookieNotice }}</p>
<form action="/welcomecode" method="POST">
    <input type="text" name="code">
    <input type="submit" value="Go!">
</form>
{{end}}

